* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

// Nav

.desktop-nav {
  @media (max-width: 768px) {
    display: none;
  }

  @media (max-width: 1000px) {
    padding: 32px;
  }

  padding: 64px 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .desktop-nav-links {
    a {
      text-transform: uppercase;
      margin: auto 32px;
      text-decoration: none;
      color: #444;
      font-size: 14px;
      font-weight: 500;
      transition: all 0.2s;
      &:hover {
        color: #fb5859;
      }
    }

    a:nth-child(3) {
      margin-right: 64px;
    }
  }
}

.btn {
  border: none;
  padding: 10px 36px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: #fb5859;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.14);
  cursor: pointer;
  transition: all 0.2s;
  border: 2px solid #fb5859;

  &:hover {
    background-color: white;
    color: #fb5859;
    box-shadow: none;
  }
}

.mobile-nav {
  @media (min-width: 768px) {
    display: none;
  }

  padding: 48px 32px;
  position: relative;

  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.mobile-nav-menu {
  visibility: hidden;
  // opacity: 0;

  .mobile-nav-menu-content {
    opacity: 0;
  }

  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 0;
  background-color: #5266df;

  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 32px;
  }

  .mobile-nav-links {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      margin: 24px;
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 400;
      letter-spacing: 2px;
    }

    .btn {
      width: 80%;
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 1px;
      padding: 16px auto;
      margin-top: 16px;
      background-color: white;
      color: #5266df;
      box-shadow: none;
      border: 2px solid #5266df;

      &:hover {
        color: white;
        background-color: #5266df;
      }
    }
  }

  .social {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    .social-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin: 64px 24px;
      }
    }
  }
}

// Header
.header {
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 48px 32px;
  }

  display: flex;
  justify-content: space-between;
  padding: 32px 160px;

  .hero-div {
    @media (max-width: 768px) {
      padding: 8px 0;
    }
    padding: 8px 48px 8px 0;

    .hero-title {
      font-size: 48px;
      color: #242946;
      font-weight: 500;
      margin: 64px auto 16px auto;

      @media (max-width: 768px) {
        text-align: center;
        font-size: 32px;
        margin: 32px auto 16px auto;
      }
    }

    .hero-subtitle {
      font-size: 18px;
      color: #242946;
      opacity: 0.5;

      @media (max-width: 768px) {
        text-align: center;
        font-size: 16px;
      }
    }

    .buttons {
      margin-top: 32px;
      display: flex;

      @media (max-width: 768px) {
        justify-content: center;
        align-items: center;
      }

      .chrome-btn {
        padding: 12px 24px;
        margin-right: 16px;
        background-color: #5266df;
        border: 2px solid #5266df;
        &:hover {
          color: white;
        }

        @media (max-width: 768px) {
          padding: 12px 16px;
        }
      }
      .firefox-btn {
        padding: 12px 24px;
        background-color: #f7f7f7;
        border: 2px solid #f7f7f7;
        color: #333;
        @media (max-width: 768px) {
          padding: 12px 16px;
        }
      }
    }
  }

  img {
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}
